.container {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgba(132, 202, 204, 0.849);
    font: bold 70px sans-serif;
    text-align: center;
    border: 5px solid white;
}